
body {
    background:url('../images/bar.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 50px;
    font-style: bolder;
    color: white;
}

#frame001 {
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 120px;
}

.buttons001 {
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;

}

.buttons002 {
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
}

#text001 {
    text-align: center;

}

#text002 {
    text-align: center;
}

#green001 {
    color: white;
}

#red001 {
    color: red;
}